@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
.left-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.left-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

/* Handle */
.left-panel::-webkit-scrollbar-thumb {
  background: rgb(210, 210, 210);
  border-radius: 10px;
}

/* Handle on hover */
.left-panel::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}
